<div id="menu" class="bg-gray-900 min-h-screen z-10 text-slate-300 w-64 left-0 h-screen overflow-y-scroll">
    <div id="logo" class="my-4 px-6">
        <h1 class="text-lg md:text-2xl font-bold text-white">Dash<span class="text-blue-500">8</span>.</h1>
        <p class="text-slate-500 text-sm">Manage your actions and activities</p>
    </div>
    <div id="profile" class="px-6 py-10">
        <p class="text-slate-500">Welcome back,</p>
        <a href="#" class="inline-flex space-x-2 items-center">
            <span>
                <img class="rounded-full w-8 h-8"
                    src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
                    alt="">
            </span>
            <span class="text-sm md:text-base font-bold">
                Edward Tompson
            </span>
        </a>
    </div>
    <div id="nav" class="w-full px-6">

        <!-- Sintaxis nueva para bucles for en angular
            Angular nos va a pedir en los for que siempre pongamos el 'track', el cual es una bandera que le va a decir al ciclo for como darle seguimiento a los elementos que se estan creando, ya que angular necesita saber si los elementos estan cambiando de posicion, drag and drop o algun tipo de animacion o transicion, necesita saber cual es el elemento para poder darle ese seguimiento.

            El track se le puede pasar el indice para que siga el indice o alguna propiedad interna del elemento que estamos iterando y que sea unica, en este caso el $index que es el indice del for

            El track es como el key de react

            De esta manera con la nueva sintaxis podemos combinar multiples estructuras de control como por ejemplo if y for

        -->

        @for ( item of menuItems; track $index) {
            <!-- 
                La forma tradicional de usar commonModule (ngFor, ngIf, etc...) era en versiones previas agregando en forma de atributo a una etiqueta los atributos '*ngFor="", ngIf="", etc...', de esta manera el la etiqueta y todo lo que estuviera dentro de ella se le aplicaria la propiedad de control que fuera, pero por multiples problemas como que no se puede poner mas de un atributo en una misma etiqueta, angular esta buscando modificar la forma de hacer estas estructuras de control, cambiando la sintaxis a la forma en la que esta aplicado
            
                RouterLink es una funcion del modulo router que nos permite hacer redirecciones

                routerLinkActive es una propiedad que nos permite darle alguna propiedad al elemento que se encuentra o coincide con la ruta activa
            -->
        <a 
            [routerLink]="item.path"
            routerLinkActive="bg-blue-800"
            href="#" 
            class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
            <div class="flex flex-col">
                <span class="text-lg font-bold leading-5 text-white">{{item.title}}</span>
                <span class="text-sm text-white/50 hidden md:block">{{item.path}}</span>
            </div>
        </a>
        }

    </div>
</div>